<main class="modal">
    <h1 class="header-text">Sign in</h1>
    <input class="input" placeholder="Login"/>
    <input class="input mb-150" placeholder="Password"/>
    <button class="button button-submit">Next</button>
    <button class="button clear-button">Create account</button>
</main>
