$color-primary: #1E1E1E;
$color-secondary: #999999;
$button-text-color: #FFFFFF;
$button-primary-color: #3369F3;
$text-red: #FF0000;
$border-primary-color: #EAEAEA;
$avatar-background-color: #EFEFEF;
$profile-font-size: 13px;
$profile-line-height: 13px;
$button-width: 280px;
