<main class="profile-editor">
    <div class="profile-editor__avatar">
        <div class="overlay">
            <p>Поменять аватар</p>
        </div>
    </div>
    <ul>
        <li class="profile-editor__info">
            <h4>{{label}}</h4>
            <p>{{info}}</p>
        </li>
    </ul>
    <button class="button">
        Сохранить
    </button>
</main>
