<main class="profile-editor">
    <div class="profile-editor__avatar">
        <div class="overlay">
            <p>Поменять аватар</p>
        </div>
    </div>
    <ul>
        {{#each this}}
            <li class="profile-editor__info">
                <h4>{{label}}</h4>
                <p>{{info}}</p>
            </li>
        {{/each}}
    </ul>
    <button class="button">
        Сохранить
    </button>
</main>
