.profile-editor__avatar {
  width: 130px;
  height: 130px;
  background-color: $avatar-background-color;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 100px;
  background-image: url("/public/svg/picture.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.profile-editor {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  ul {
    list-style: none;
  }
}

.profile-editor__info {
  display: flex;
  align-items: center;
  width: 510px;
  justify-content: space-between;
  border-bottom: 1px $border-primary-color solid;
  margin-bottom: 20px;
  padding-bottom: 10px;

  h4 {
    font-size: $profile-font-size;
    line-height: $profile-line-height;
    color: $color-primary;
    margin: 0;
    font-weight: 600;
  }

  p{
    font-size: $profile-font-size;
    line-height: $profile-line-height;
    color: $color-secondary;
    margin: 0;
  }
}

.profile-editor__info:last-child {
  border-bottom: none;
}

.profile-editor__edit-button {
  display: flex;
  align-items: flex-start;
  width: 510px;
  margin-bottom: 20px;
  border-bottom: 1px $border-primary-color solid;
  padding-bottom: 10px;
  p {
    font-size: $profile-font-size;
    line-height: $profile-line-height;
    color: $button-primary-color;
    margin: 0;
  }
}

.profile-editor__edit-button:last-child {
  border-bottom: none;

  p {
    color: $text-red;
  }
}

.button {
  background-color: $button-primary-color;
  color: $button-text-color;
  width: $button-width;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    color: #FFFFFF;
  }
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}
