<div class="profile-editor">
    <div class="profile-editor__avatar" id="avatar"></div>
    <ul>
    {{#each this}}
        <li class="profile-editor__info">
            <label>{{label}}</label>
            <input type="password" class="input-right" placeholder="Введие {{placeholder}}" name="{{name}}" id="{{name}}">
        </li>
    {{/each}}
    </ul>
    <button class="button">
        Сохранить
    </button>
</div>
